:root {
    --spacing-top-mobile: 10vh;
    --spacing-bottom-mobile: 7vh;
    --spacing-top-desktop: 12vh;
}

* {
    font-family: "Segoe UI", sans-serif;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

header {
    /* Colors */
    background-color: #343E3D;
    color: #FFFFFF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

    /* Size */
    width: 100vw;
    height: var(--spacing-top-mobile);

    /* Layout */
    display: flex;
    align-items: center;
    padding: 0 1rem 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
}

header img {
    margin-right: 0.7rem;
}

main {
    padding-top: var(--spacing-top-mobile);
    padding-bottom: var(--spacing-bottom-mobile);
}

.map {
    aspect-ratio: auto;
    width: 100%;
}

nav {
    /* Colors */
    background-color: #607466;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);


    /* Size */
    width: 100vw;
    height: var(--spacing-bottom-mobile);

    /* Layout */
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

nav a {
    /* Layout */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 25%;

    /* Design */
    text-decoration: none;
    color: #AEDCC0;
}

.border {
    border-right: 1px #AEDCC0 solid;
}

.nav-legend {
    display: none;
}

.text {
    padding: 0 1rem 0 1rem;
}

@media (min-width: 960px) {
    header {
        height: var(--spacing-top-desktop);
    }

    main {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 3fr 5fr;
        padding: var(--spacing-top-desktop) 0 0 1rem;
    }

    nav {
        flex-direction: column;
        grid-column: 1;
        grid-row: 2;
        position: static;
        bottom: auto;
        left: auto;
        width: auto;
        height: auto;
        box-shadow: none;
    }

    nav a {
        width: 100%;
        text-align: left;
        justify-content: left;
        padding-left: 1rem;
    }

    nav a:hover {
        background-color: rgba(255, 255, 255, 0.25);
    }

    .legend {
        grid-row: 2;
        grid-column: 2;
    }

    .nav-legend {
        display: inline;
        margin-left: 1rem;
    }

    .border {
        border-right: none;
        border-bottom: 1px #AEDCC0 solid;
    }
}