:root {
    /* Layout */
    --spacing-top-mobile: 10vh;
    --spacing-bottom-mobile: 7vh;
    --spacing-top-desktop: 12vh;
    --spacing-bottom-desktop: 8vh;

    /* Colors */
    --white: #FFFFFF;
    --light: #E8F1F2;
    --lighter: #1b98e0;
    --normal: #247ba0;
    --darker: #006494;
    --dark: #13293d;
}

* {
    font-family: "Segoe UI", sans-serif;
    box-sizing: border-box;    /* Berechnung der Grüße von Elementen inkl. Padding und Border */
}

a {
    color: var(--darker);
}

/* Default Padding und Margin entfernen - Ganzen Viewport Rahmenlos nutzen */
html, body {
    margin: 0;
    padding: 0;
}

/* Helle, designte Links für dunkle Hintergründe */
.white-link {
    text-decoration: none;
    color: var(--white);
}

/* Individuelle Abstand unter Überschriften */
h2 {
    margin-bottom: 0.5rem;
}

h5 {
    margin-top: 0.5rem;
}

header {
    /* Colors */
    background-color: var(--dark);
    color: var(--white);

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

    /* Size */
    width: 100vw;
    height: var(--spacing-top-mobile);

    /* Layout */
    z-index: 9000;
    padding: 0 1rem 0 1rem;
    position: fixed;
    display: flex;
    align-items: center;
}

header a {
    display: flex;
    align-items: center;
}

header img {
    margin-right: 0.7rem;
}

main {
    padding-top: var(--spacing-top-mobile);
    padding-bottom: var(--spacing-bottom-mobile);
}

.full-length-text {
    padding: 0 0.5rem 0.5rem 0.5rem;
}

.introduction, .legend {
    padding: 0 0.5rem 0.5rem 0.5rem;
}

.media {
    width: 100%;
    height: 100%;
    min-height: 40vh;
    border: none;
}

nav {
    /* Colors */
    background-color: var(--darker);
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);

    /* Size */
    width: 100vw;
    height: var(--spacing-bottom-mobile);

    /* Layout */
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-right: 1px var(--white) solid;
    height: 100%;
    width: 25%;
}

.active {
    background-color: var(--lighter);
}

.nav-item a {
    display: flex;
    align-items: center;
}

.nav-item:hover {
    background-color: var(--lighter);
}

.no-border {
    border: none;
}

.nav-legend {
    display: none;
}

.nav-temperature {
    padding-left: 0.5rem;
}

#popup {
    position: absolute;
    background-color: white;
    border: 1px solid gray;
    padding: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    display: none;
    left: 2.5vw;
    width: 95vw;
    border-radius: 8px;
}

#popup .close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #000;
}

#popup img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.quote {
    font-style: italic;
}

/* Desktop Layout (>960 px) */
@media (min-width: 960px) {
    header {
        height: var(--spacing-top-desktop);
    }

    main {
        display: grid;
        grid-template-rows: auto 1fr 1fr;
        grid-template-columns: 3fr 5fr;
        grid-template-areas:
            "fullsize-text fullsize-text"
            "intro media"
            "legend media";
        column-gap: 1rem;
        padding: var(--spacing-top-desktop) 0 var(--spacing-bottom-desktop) 1rem;
    }

    .full-length-text {
        grid-area: fullsize-text;
        padding-right: 1rem;
    }

    .introduction {
        grid-area: intro;
        padding: 0;
    }

    .media {
        grid-area: media;
    }

    .legend {
        grid-area: legend;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    nav {
        margin-left: 1rem;
        width: 40vw;
    }

    .introduction, .legend {
        padding: 0;
    }

    .nav-item {
        flex-direction: column;
        text-align: center;
    }

    .nav-item a {
        flex-direction: column;
        row-gap: 0.2rem;
    }

    .nav-legend {
        display: inline;
    }

    .nav-temperature {
        padding-left: 0;
    }

    #popup {
        width: 40vw;
    }
}
